@font-face {
    font-family: Nightingale;
    src: url(DTNightingale-Light.ttf);
}

h1 {
    font-family: Nightingale;
}

a {
    color: rgb(210, 210, 210);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 0.2em;
}

:root { 
    background-color: black;
    color: rgb(210, 210, 210);
}

.main h1 {
    padding-left: 20vi;
    padding-right: 20vi;
    overflow-y: scroll;

    margin: auto;
    padding-top: 60px;

    @media (pointer:none), (pointer:coarse) {
        padding-left: 5vi;
        padding-right: 5vi;
    }
}

.main p {
    padding-left: 20vi;
    padding-right: 20vi;

    @media (pointer:none), (pointer:coarse) {
        padding-left: 5vi;
        padding-right: 5vi;
    }
}

.main pre {
    padding-left: 15vi;
    padding-right: 15vi;

    @media (pointer:none), (pointer:coarse) {
        padding-left: 2vi;
        padding-right: 2vi;
    }
}

.main pre code::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.main pre code {
    border-radius: 1rem;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
}